.projets_wrapper{
    display: grid;
    justify-content: start;
    gap: 45px;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    padding: 30px;
}

.projets_title {
    text-align: center;
}

.projet_div {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    }

    .projet_div:hover{
        transform: scale(1.1);
    }

    .projet_div:before {
        content: "";
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }

    .projet_picture:hover {
        transform: scale(1.2);
        transition: all 0.4s ease-in-out;
    }



.projet_picture {
    width: 100%;
}

.projet_text {
  transition: opacity 0.2s ease-in-out;
  margin: 10%;
  font-size: 20px;
  text-align: center;
  color: white;
}



.projet_div {
    position: relative;
  }
  
  .text_section {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(9, 9, 9, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .projet_div:hover .text_section {
    opacity: 1;
    background-color: darkslategrey;
    filter: opacity(85%);
  }

  @media screen and (max-width: 389px) {
    .projet_div {
        max-width: 300px;
    }
  }